/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9; /* Cor de fundo clara */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Cabeçalho */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #5f27cd; /* Roxo */
    margin-bottom: 40px;
}

/* Navegação */
nav {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
}

ul li {
    width: 200px; /* Definindo um tamanho fixo para os itens da lista */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #5f27cd; /* Roxo */
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

a img {
    width: 70px; /* Tamanho do ícone */
    height: 70px; /* Tamanho do ícone */
    margin-bottom: 15px;
}

a:hover {
    background-color: #5f27cd;
    color: white;
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

a:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5f27cd; /* Roxo claro para foco */
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin-bottom: 20px;
    }

    a {
        font-size: 16px;
        width: 120px;
        height: 120px;
    }

    a img {
        width: 50px;
        height: 50px;
    }
}
