/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9; /* Cor de fundo clara */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Cabeçalho */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #5f27cd; /* Roxo */
    margin-bottom: 40px;
}

/* Navegação */
nav {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
}

ul li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #5f27cd; /* Roxo */
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #5f27cd;
    color: white;
}

a:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5f27cd; /* Roxo claro para foco */
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin-bottom: 15px;
    }

    a {
        font-size: 16px;
    }
}
